<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{.Title}} | {{.Site.Title}} </title>
    <link rel="stylesheet" href="/css/style.css">  
</head>
<body>
    <header>
        <div class="container header-flex">
            <div class="site-title">{{.Site.Title}} </div>

            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a> 
                <!--- <a href="/blog/">Blog</a> --->
                <a href="/homelab/">Homelab</a>
                <a href="/portfolio/">Portfolio</a>
                <!-- <a href="/services/">Services</a> -->
                <a href="/contact">Contact</a>
            </nav>
        </div>
    </header>

    <main class="container" >
        {{block "main" .}} {{end}}
    </main>

    <footer>
        <p>© {{now.Year}} {{.Site.Title}}    <a href="/contact" style="color: white;">Contact</a> </p>
    </footer>
</body>
</html>