{{define "main"}}
<section class="hero"  >
    <div class="container">
        <h1 class="hero-title">Welcome to my Portfolio</h1>
        {{with .Site.Params.hero_image}} 
        <img id="aboutImage" src="{{.}}" alt="{{$.Title}}" style="border:0px;margin:10px;float:left;width:40%;" >
        {{end}}

        <p class="hero-text">
        I'm passionate about helping people and businesses and I do this by helping them use 
        automation and LLMs or Gen AI to build value for their businesses.
        <br> <br>
        In this site I share I share my automation portfolio - mainly the work I've 
        been doing on Agentic Automations.
        <br> <br>
        I also show you what I've been upto in my home lab.  This is where I try new tools and processes 
        and how I keep my technical skills up to date.
              <br> <br>
        If you like what you see (even if you're not sure this is for you or would help 
        you), reach out to me for a no-obligation conversation - my contact details are in the Contact tab.

        </p>
    </div>
</section>

<h1>Latest Portfolio Entries</h1>
{{range $i, $p := first 10 (where .Site.RegularPages "Type" "portfolio")}}
<div class="blog-preview {{if modBool $i 2}}reverse{{end}}"   >
    {{with $p.Params.image}}
    <img src="{{.}}" alt="{{$p.Title}}">
    {{end}}

    <div class="content">
        <h2>{{$p.Title}} </h2>
        <p> {{$p.Summary}} </p>
        <a href="{{$p.RelPermalink}}" class="read-more">Read More →</a>
    </div>
</div>
{{end}}
{{end}}